html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body , #root {
  height: 100vh;
  margin: 0;
}

.App {
  display: grid;
  grid-template-areas: "header" 
  "main" 
  "footer";
  grid-template-rows:5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  background-color: #203040;
  grid-area: header;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  color: #fff;
}

.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li{
  padding: 1rem;
}

main {
  grid-area: main;
  height: 100%;
}

.content {
  display: flex;
  margin: 20px;
}

.products {
  flex: 5 1;
}

/* Filter */
.filter {
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  margin-bottom: 10px;
}

.filter p {
  flex: 1;
}

/* Products */
.products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card {
  width: 30%;
  margin-bottom: 10px;
  text-align: center;
}

.product-data {
  display: flex;
  justify-content: space-between;
}

.product-price {
  width: 100%;
  margin: 7px 0;
}

.product-data button {
  background-color: #ffc000;
  border: 1px solid #333;
  color: #333;
  width: 100%;
}

.product-data button:hover {
  background-color: yellow;
}

.product-data button:focus {
  outline: none;
}

.item-card img {
  width: 100%;
}

.cart {
  flex: 1;
}

footer {
  background-color: #203040;
  grid-area: footer;
}