html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body , #root {
  height: 100vh;
  margin: 0;
}

.App {
  display: grid;
  grid-template-areas: "header" 
  "main" 
  "footer";
  grid-template-rows:5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  background-color: #203040;
  grid-area: header;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  color: #fff;
}

.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li{
  padding: 1rem;
}

main {
  grid-area: main;
  height: 100%;
}

.content {
  display: flex;
  margin: 20px;
}

.products {
  flex: 5 1;
}

/* Filter */
.filter {
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  margin-bottom: 10px;
}

.filter p {
  flex: 1;
}

/* Cart */
.cart-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.cart-header p {
  margin-bottom: 18px;
}

.cart-item {
  display: flex;
  margin-bottom: 5px;
}

.cart-item img {
  height: 75px;
  width: 75px;
}

.item-title {
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.item-button {
  background-color: #ffc000;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  padding: 5px;
}

.item-content {
  display: flex;
  flex-direction: column;
}

.cart-item p {
  margin: 0;
}

.item-price {
  align-items: flex-end;
  display: flex;
  height: 100%;
}

.item-price p {
  width: 100%;
  text-align: center;
}

.cart-result {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-result p {
  margin: 5px 0;
  text-align: center;
}

.cart-result button {
  background-color: #ffc000;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  padding: 5px;
}

.checking-form {
  margin-top: 20px;
}

.checking-form form input {
  border: 1px solid #333;
  border-radius: 7px;
  padding: 7px;
  margin: 10px 0;
  width: 100%;
}

.checking-form form button {
  background-color: #ffc000;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  padding: 5px;
}

/* Products */
.products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card {
  width: 32%;
  margin-bottom: 10px;
  text-align: center;
}

.product-data {
  display: flex;
  justify-content: space-between;
}

.product-price {
  width: 100%;
  margin: 7px 0;
}

.product-data button {
  background-color: #ffc000;
  border: 1px solid #333;
  color: #333;
  width: 100%;
}

.product-data button:hover {
  background-color: yellow;
}

.product-data button:focus {
  outline: none;
}

.item-card img {
  width: 100%;
}

.sidebar {
  flex: 1;
}

.product-modal {
  display: flex;
}

.product-modal img {
  max-height: 80vh;
}

.product-modal-desc {
  margin-left: 20px;
  flex: 1 1;
}

.product-modal-desc span {
  background-color: #ffc000;
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

.modal-product-desc {
  margin: 30px 0;
}

.modal-product-price {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.modal-product-price p {
  text-align: center;
  width: 100%;
}

.modal-product-price button {
  background-color: #ffc000;
  border: 1px solid #333;
  color: #333;
  width: 100%;
}


footer {
  background-color: #203040;
  grid-area: footer;
}